<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Website metadata -->
    <title>{{ title }}</title>
    
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ shortDescription }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:image:alt" content="Flipstarter logo image.">
    <meta property="og:article:section" content="Technology">
    <meta property="og:article:tag" content="Bitcoin">
    <meta property="og:article:tag" content="Bitcoin Cash">
    <meta property="og:article:tag" content="BCH">
    <meta property="og:article:tag" content="Fundraising">
    
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/client.css">
    <link rel="stylesheet" href="../css/github-markdown-light.css">

    <style>
      .hidden {
        opacity: 0;
        visibility: hidden;
        margin-top: 0 rem !important;
        max-height: 0 !important;
      }
      
      /* Loading Animation
      ------------------------
      */

      .load-indicator {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
        margin-left: -6px;
        margin-top: -6px; 
      }

      .load-indicator__bubble {
        height: 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        margin: 0;
        height: 6px;
        width: 6px;
        border: 2px solid #2152A3;
        border-radius: 100%;
        transform: transformZ(0);
        animation: umbLoadIndicatorAnimation 1.4s infinite;
      }

      .load-indicator__bubble:nth-child(1n) {
        left: -16px;
        animation-delay: 0s;
      }

      .load-indicator__bubble:nth-child(2n) {
        left: 0;
        animation-delay: 0.15s;
      }

      .load-indicator__bubble:nth-child(3n) {
        left: 16px;
        animation-delay: 0.30s;
      }

      @keyframes umbLoadIndicatorAnimation {
        0%   {
          transform: scale(0.5);
          background: #2152A3;
        }
        50%   {
          transform: scale(1);
          background: transparent;
        }
        100% {
          transform: scale(0.5);
          background: #2152A3;
        }
      }
    </style>
  </head>
  <body class="clouds">
    <!-- Main content, header, sidebar and footer-->
    <div class="grass">
      <div class="background">
        <!-- Site header -->
        <header class="container row center">
          <h1 class="cols s12 m12 l12">
            <span id="campaignTitle">{{ title }}</span>
          </h1>
        </header>

        <!-- Site content -->
        <main class="container row z-depth-2">
          <!-- Campaign -->
          <article id="campaign" class="col s12 m12 l8">

            <!-- Campaign overview -->
            <section id="overview">
              <div id="timerContainer">
                <span class="valign-wrapper">
                  <i class="icon-access_time"></i>
                  <span id="timerLabel" data-string="expiresLabel">{{ timerLabel }}</span>
                  <b id="campaignExpiration">{{ timerDaysUntil }}</b>
                </span>
              </div>
              <div id="amountsContainer">
                <span class="valign-wrapper">
                  <i class="icon-bookmark_border"></i>
                  <span id="campaignContributionAmount">0.00</span>
                  <i>/</i>
                  <span id="campaignRequestAmount">{{ requestedAmount }}</span>
                  <b>BCH</b>
                </span>
              </div>
              <div class="progress">
                <div class="determinate" id="pendingRevocationBar" color></div>
                <div class="determinate" id="campaignContributionBar"></div>
                <div class="determinate" id="campaignProgressBar"></div>
              </div>
            </section>

            <!-- Campaign heading -->
            <header id="campaignAbstract" class="markdown-section">{{{ description }}}</header>

            <!-- Campaign donation form -->
            <fieldset id="donateField" class="row" style="position:relative;">
              <div id="donateStatus" class="col s12 m12 l12 hidden"></div>
              <div id="donateFormContainer">
                <div id="donateForm" class="col s12 m12 l12 hidden">
                  <div class="input-field col s1 m1 l1">
                    <i class="icon-attach_money money-icon"></i>
                  </div>
                  <div id="donationSliderContainer" class="input-field col s11 m5 l6">
                    <input type="range" min="0" max="100" value="0" step="0.20" class="slider" id="donationSlider">
                  </div>
                  <div id="donationButtonContainer" class="input-field col s12 m6 l5">
                    <button id="donateButton" class="btn waves-effect waves-light green" disabled="disabled">
                      <span id="donateText" data-string="donateText"></span>
                      <span id="donationAmount"></span>
                    </button>
                  </div>
                </div>
                <div id="providerSection" class="col s12 m12 hidden">
                  <div class="col">
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">
                      <div id="contributionDetailsContainer" style="flex-grow:2;">
                        <div class="row">
                          <div id="contributionNameContainer" class="input-field s12 m12 l12">
                            <i class="icon icon-person_outline prefix"></i>
                            <input id="contributionName" type="text" maxlength="24" disabled="disabled">
                            <label for="contributionName" data-string="usernameLabel"></label>
                          </div>

                          <div id="contributionCommentContainer" class="input-field s12 m12 l12">
                            <i class="icon icon-chat_bubble_outline prefix"></i>
                            <input id="contributionComment" type="text" maxlength="120" disabled="disabled">
                            <label for="contributionComment" data-string="commentLabel"></label>
                          </div>
                        </div>
                      </div>
                      <div id="qrContainer" style="text-align: center;">
                        <div id="commitmentBalanceRemainingContainer">Requesting: <span id="commitmentBalanceRemaining" class="">0</span> BCH</div>
                        <div id="qrCopyContainer">
                          <canvas id="qrCodeContainer" class="center-block"></canvas>
                          <button id="copyAddressBtn" class="btn" style="display: inline-flex; align-items: center; border-radius: 30px;text-align: center;height: 2rem;line-height: initial;padding: 9px;margin-top: -5px;position: relative;/* z-index: 0; */">Copy Address </button>
                        </div>
                        <div id="bchBalanceContainer" class="hidden" style="margin-top: 1rem;">Balance: <span id="bchBalance" class="">0</span> BCH</div>
                      </div>
                    </div>
                    <div class="provider-container" style="display:flex; justify-content: space-between; gap:5%;">
                      <button id="sweepWalletBtn" class="btn waves-effect waves-light" style="background-color: #c55959" disabled="disabled">
                        <span>Sweep</span>
                      </button>
                      <button id="backupWalletBtn" class="btn waves-effect waves-light" style="background-color: #668daf">
                        <span>Backup</span>
                      </button>
                      <button id="integratedWalletButton" class="btn waves-effect waves-light green">
                        <span>Check balance</span>
                      </button>
                      <button id="pledgeBalanceBtn" class="btn waves-effect waves-light" style="background-color: #26a69a" disabled="disabled">
                        <span>Pledge</span>
                      </button>
                    </div>
                    <div class="center-align">
                      <a id="electrumDonateButton" href="">
                        <span>Or contribute with a External Wallet</span>
                      </a>
                    </div>
                  
                    <div id="electrumSection" class="col s12 m12 hidden">
                      <div class="col">
                        <div class="col s12 m12 l3 step-container">
                          <small class="step-title" data-string="copyLabel"></small>
                          <textarea rows="5" id="template" name="template"></textarea>
                          <button id="copyTemplateButton" class="btn waves-effect waves-light green" data-string="copyButton"></button>
                        </div>
                        <div class="col s12 m12 l6 step-container">
                          <small class="step-title" data-string="instructionsLabel"></small>
                          <p id="instructions" data-string="instructions"></p>
                          <div id="instructionLinks">
                            <a id="downloadButton" class="btn" href="https://gitlab.com/flipstarter/flipstarter-electron-cash/uploads/ec6b5a7518801c4a278128ac4f296607/flipstarter-1.3.zip">
                              <i class="icon-download"></i>
                              <span data-string="downloadText"></span>
                            </a>
                            <a id="linkInstructionsButton" class="btn" target="_blank" href="https://read.cash/@flipstarter/how-to-support-a-flipstarter-campaign-f27240d9">
                              <i class="icon-info"></i>
                              <span data-string="instructionLink"></span>
                            </a>
                          </div>
                        </div>
                        <div class="col s12 m12 l3 step-container">
                          <small class="step-title" data-string="commitLabel"></small>
                          <textarea rows="5" id="commitment" name="commitment" data-placeholder="PasteHere"></textarea>
                          <button id="commitTransaction" class="btn waves-effect waves-light green" disabled="disabled" data-string="commitButton"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="donate-load-indicator-container" style="background:white;z-index: 1;">
                  <ul class="load-indicator animated -half-second">
                    <li class="load-indicator__bubble"></li>
                    <li class="load-indicator__bubble"></li>
                    <li class="load-indicator__bubble"></li>
                  </ul>
                </div>
              </div>
            </fieldset>

            <!-- Campaign details. -->
            <section id="campaignDetails" class="markdown-section">{{{ details }}}</section>
          </article>

          <!-- Campaign sidebar -->
          <aside id="sidebar" class="col s12 m12 l4">
            <!-- Recipient List -->
            <section>
              <h3 id="recipientListHeader">
                <span class="valign-wrapper">
                  <i class="icon-face"></i>
                  <b id="campaignRecipientCount">{{ recipientCount }}</b>
                  <span data-string="recipientsLabel">{{ recipientsLabel }}</span>
                </span>
              </h3>
              <hr>
              <ul id="recipientList" class="row">
                {{#recipients}}
                <li class='col s6 m6 l12'>
                  <a href='{{url}}' target="_blank">
                    <img src='{{image}}' alt='{{name}}' />
                    <span>
                      <b>{{name}}</b>
                      <i title="{{amountInSatoshis}}">{{amountInBch}} BCH</i>
                    </span>
                  </a>
                </li>
                {{/recipients}}
              </ul>
            </section>
            
            <!-- Contribution List -->
            <section>
              <h3 id="contributionListHeader">
                <span class="valign-wrapper">
                  <i class="icon-favorite_border"></i>
                  <b id="campaignContributorCount">0</b>
                  <span data-string="contributorsLabel">{{ contributorsLabel }}</span>
                </span>
              </h3>
              <hr>
              <ul id="contributionList">
                <li class="emptyContributionMessage">
                  <i data-string="contributorEmpty1"></i>
                  <br>
                  <i data-string="contributorEmpty2"></i>
                </li>
              </ul>
          </section>
          </aside>
          
          <!-- Info links -->
          <ul id="info-links" class="col s10 m10 l10 push-s1 push-m1 push-l1">
            <li class="col">
              <a class="valign-wrapper" target="_blank" href="https://read.cash/@flipstarter/how-to-support-a-flipstarter-campaign-f27240d9">
                <i class="icon-info"></i>
                &nbsp;
                <span data-string="linkHowTo"></span>
              </a>
            </li>
            <li class="col">
              <a class="valign-wrapper" target="_blank" href="https://read.cash/@flipstarter/flipstarter-faq-66c56b03">
                <i class="icon-info"></i>
                &nbsp;
                <span data-string="linkFAQ"></span>
              </a>
            </li>
          </ul>
        </main>

        <footer class="center">
          <p>Powered by <a href="https://flipstarter.cash" target="_blank">Flipstarter</a></p>
        </footer>
      </div>
    </div>

    <!-- Language picker -->
    <div id="languageSelector" class="fixed-action-btn">
      <b id="currentLanguage" data-string="changeLanguage"></b>
      <a class="btn-floating btn-large green"><i class="large icon-translate"></i></a>
        <ul id="languageList">
          <li><a class="btn-floating purple darken-2" id="translateEnglish">En</a></li>
          <li><a class="btn-floating pink darken-2" id="translateChinese">Cn</a></li>
          <li><a class="btn-floating red darken-1" id="translateJapanese">Ja</a></li>
          <li><a class="btn-floating orange darken-2" id="translateSpanish">Es</a></li>
        </ul>
    </div>

    <!-- Templates -->
    <template id="recipientTemplate">
      <li class="col s6 m6 l12">
        <a>
          <img>
          <span>
            <b></b>
            <i></i>
          </span>
        </a>
      </li>
    </template>
    <template id="contributionTemplate">
      <li>
        <div>
          <div class="contributionWaves"></div>
          <div class="contributionDisplay"></div>
          <span class="contributionPercent"></span>
        </div>
        <span>
          <span class="pendingRevocationStatus quote hidden" style="text-align: right;display: inline-block;">Possibly revoked *</span>
          <span>
            <b class="contributionAlias"></b>
            <small class="contributionAmount"></small>
          </span>
          <q class="contributionComment quote"></q>
        </span>
      </li>
    </template>
    <template id="emptyContributionMessage">
      <li class="emptyContributionMessage">
        <i data-string="contributorEmpty1"></i>
        <br>
        <i data-string="contributorEmpty2"></i>
      </li>
    </template>

    <!-- Assets -->
    <audio src="../snd/applause.mp3" id="applause"></audio>
  </body>
</html>
